{% extends "parts/layout.html" %}
{% block body %}
<div class="header_status"><p class="header_status_text"></p></div>
<div class="container">
    <main class="content">
        <h2 class="page_title">バーコード読取</h2>
        <input style="margin: 0 0 20px 0" type="button" id="input_image_add_button" value="バーコードを読み取る" class="button_1">
        <div class="barcode_status"></div>
        <ul class="item_list" id="product_list"></ul>
        <form id="image_upload" method="POST">
            <input name="barcode" type="file" class="upload" id="upload" accept="image/*; capture=camera">
        </form>
    </main>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
