{% extends "parts/layout.html" %}
{% block body %}
<div class="header_status"><p class="header_status_text"></p></div>
<div class="container">
    <main class="content">
        <h2 class="page_title">バーコード読取</h2>
        <input type="button" style="margin: 0 auto 20px auto;" id="input_image_add_button" value="バーコードを読み取る" class="button_1">
        <div class="barcode_status"></div>
        <ul class="item_list" id="product_list"></ul>
        <input name="barcode" type="file" class="upload" id="upload" accept="image/*; capture=camera">
        <canvas id="canvas" class="canvas" width="0" height="0"></canvas>
        <input type="button" style="display: none;" id="do_upload" value="送信" class="button_1">
    </main>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
